@{
    ViewData["Title"] = "Hakkımızda";
}

<div class="container text-center mt-5">
    <h1 class="text-warning">Hakkımızda</h1>
    <p class="text-light">
        Bizler, kaliteli hizmeti müşterilerimize sunmayı hedefleyen bir ekibiz.
        Uzman ekibimizle hizmetinizdeyiz.
    </p>
</div>
