@{
    ViewData["Title"] = "Admin Paneli";
}

<h2>Admin Paneli</h2>

<ul>
    <li>
        <a asp-area="" asp-controller="Admin" asp-action="KuaforYonetimi">Kuaför Yönetimi</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Admin" asp-action="IslemYonetimi">İşlem Yönetimi</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Admin" asp-action="RandevuYonetimi">Randevu Yönetimi</a>
    </li>
</ul>

<a asp-action="Cikis" class="btn btn-danger">Çıkış Yap</a>
