@{
    ViewData["Title"] = "İletişim";
}

<div class="container text-center mt-5">
    <h1 class="text-warning">İletişim</h1>
    <p class="text-light">
        Bizimle iletişime geçmek için aşağıdaki bilgileri kullanabilirsiniz:
    </p>
    <ul class="list-unstyled">
        <li class="text-light">Telefon: 123-456-7890</li>
        <li class="text-light">E-posta: info@berberyönetim.com</li>
        <li class="text-light">Adres: Berber Yönetim Merkezi, Şehir, Ülke</li>
    </ul>
</div>
